{% block field_widget %}
    <div class="form-group">
        {{ form_label(edit_form.nickname) }}
        <div class="col-sm-4">
            {{ block('form_widget_simple') }}
        </div>
        {{ form_errors(edit_form) }}
    </div>
{% endblock %}